if TARGET_IMX8QM_BES_BGW_0002_A || TARGET_IMX8QM_BES_BGW_0002_A_A53_ONLY || TARGET_IMX8QM_BEW_BGW_0002_A_A72_ONLY

config SYS_BOARD
	default "imx8qm_BES_BGW_0002_A"

config SYS_VENDOR
	default "freescale"

config SYS_CONFIG_NAME
	default "imx8qm_BES_BGW_0002_A"

config IMX_CONTAINER_CFG
	default "board/freescale/imx8qm_BES_BGW_0002_A/uboot-container.cfg"

source "board/freescale/common/Kconfig"

endif
