// SPDX-License-Identifier: GPL-2.0+
/*
 * Copyright 2017-2018 NXP
 */

/dts-v1/;

#include "fsl-imx8qm.dtsi"

/ {
	model = "NXP i.MX8QM BES_BGW_0002_A";
	compatible = "fsl,imx8qm-BES_BGW_0002_A", "fsl,imx8qm";

//	aliases {
//		gpio8 = &max7322;
//	};

	chosen {
		bootargs = "console=ttyLP0,115200 earlycon";
		stdout-path = &lpuart0;
	};

//	alias {
//		gpio8 = <&gpio7>;
//	};
  //      leds {
//                compatible = "gpio-leds";
//                pinctrl-names = "default";
//                pinctrl-0 = <&pinctrl_led0>;
//                pinctrl-1 = <&pinctrl_led1>;
//                led0 {
//			vcc-supply = <&pinctrl_v38>;
//                        label = "led0";
 //                       gpios = <&gpio2 14 GPIO_ACTIVE_HIGH>;
//                        linux,default-trigger = "heartbeat";
//                        default-state = "on";
//                };
//                led1 {
//                        label = "led1";
//                        gpios = <&gpio2 15 GPIO_ACTIVE_HIGH>;
//                        default-state = "on";
//                };
//                cell_led {
//                        label = "cell_led";
//                        gpios = <&gpio2 17 GPIO_ACTIVE_HIGH>;
//                        default-state = "off";
//                };
//                wifi_led {
//                        label = "wifi_led";
//                        gpios = <&gpio2 19 GPIO_ACTIVE_HIGH>;
//                        default-state = "off";
//                        linux,default-trigger = "mmc2";
//                };
//                ble_led {
//                        label = "ble_led";
//                        gpios = <&gpio2 20 GPIO_ACTIVE_HIGH>;
//                        default-state = "off";
//                };
//                gps_led {
//                        label = "gps_led";
//                        gpios = <&gpio2 18 GPIO_ACTIVE_HIGH>;
//                        default-state = "off";
//                };
//                cell_reset {
//                        label = "cell_reset";
//                        gpios = <&gpio0 9 GPIO_ACTIVE_HIGH>;
//                        default-state = "on";
//                };
//       };
//
//	gpio {
//		compatible = "fsl,imx35-gpio";
//		gpio-controller;
//		#gpio-cells = <2>;
//		pinctrl-names = "default";
//		pinctrl-0 = <&pinctrl_hog>;
//		v5_0_per{
//			label = "V5_0_per";
//			enable-gpios = <&gpio2 24 GPIO_ACTIVE_HIGH>;
//			default-state = "on";
//			output-high;
//		};
//		v3_8_per{
//			label = "V3_8_per";
//			enable-gpios = <&gpio2 25 GPIO_ACTIVE_HIGH>;
//			default-state = "on";
//			output-high;
//		};
//		v3_3_per{
//			label = "V3_3_per";
//			enable-gpios = <&gpio2 26 GPIO_ACTIVE_HIGH>;
//			default-state = "on";
//			output-high;
//		};
//		wifi_vio_en{
//			label = "wifi_vio_en";
//			enable-gpios = <&gpio2 27 GPIO_ACTIVE_HIGH>;
//			default-state = "on";
//			output-high;
//		};
//		wifi_1v8_en{
//			label = "wifi_1v8_en";
//			enable-gpios = <&gpio2 28 GPIO_ACTIVE_HIGH>;
//			default-state = "on";
//			output-high;
//		};
//		wifi_vbat_en{
//			label = "wifi_vbat_en";
//			enable-gpios = <&gpio2 29 GPIO_ACTIVE_HIGH>;
//			default-state = "on";
//			output-high;
//		};
//		wifi_pdn{
//			label = "wifi_pdn";
//			enable-gpios = <&gpio2 06 GPIO_ACTIVE_HIGH>;
////			default-state = "on";
//			default-state = "off";
//			output-high;
//		};
//	};

	regulators {
		compatible = "simple-bus";
		#address-cells = <1>;
		#size-cells = <0>;

		reg_usb_otg2_vbus: regulator@0 {
			compatible = "regulator-fixed";
			reg = <0>;
			regulator-name = "usb_otg2_vbus";
			regulator-min-microvolt = <5000000>;
			regulator-max-microvolt = <5000000>;
			gpio = <&gpio4 4 GPIO_ACTIVE_HIGH>;
			enable-active-high;
		};

		reg_usdhc2_vmmc: usdhc2_vmmc {
			compatible = "regulator-fixed";
			regulator-name = "sw-3p3-sd1";
			regulator-min-microvolt = <3300000>;
			regulator-max-microvolt = <3300000>;
			gpio = <&gpio4 7 GPIO_ACTIVE_HIGH>;
			off-on-delay-us = <4800>;
			enable-active-high;
		};
	};
};

&iomuxc {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_hog>;

	imx8qm-BES_BGW_0002_A {
		pinctrl_hog: hoggrp{
			fsl,pins = <
				SC_P_M40_GPIO0_01_LSIO_GPIO0_IO09           0x00000020 /* CELL_RESET_3V3 */
				SC_P_USB_SS3_TC0_LSIO_GPIO4_IO03	0x06000048
				SC_P_LVDS0_I2C0_SCL_LSIO_GPIO1_IO06	0x06000021
				SC_P_LVDS0_I2C0_SDA_LSIO_GPIO1_IO07	0x06000021
				SC_P_QSPI1A_SS1_B_LSIO_GPIO4_IO20	0x06000021
				SC_P_QSPI1A_DATA2_LSIO_GPIO4_IO24	0x06000021
				SC_P_QSPI1A_DATA3_LSIO_GPIO4_IO23	0x06000021
				SC_P_ESAI0_SCKR_LSIO_GPIO2_IO24         0x00000060
				SC_P_ESAI0_SCKT_LSIO_GPIO2_IO25         0x00000060
				SC_P_ESAI0_TX0_LSIO_GPIO2_IO26          0x00000060
			>;
		};

		pinctrl_adc: adcgrp {
			fsl,pins = <
				SC_P_ADC_IN0_DMA_ADC0_IN0               0xc0000060
				SC_P_ADC_IN1_DMA_ADC0_IN1               0xc0000060
				SC_P_ADC_IN2_DMA_ADC0_IN2               0xc0000060
				SC_P_ADC_IN3_DMA_ADC0_IN3               0xc0000060
				SC_P_ADC_IN4_DMA_ADC1_IN0               0xc0000060
				SC_P_ADC_IN5_DMA_ADC1_IN1               0xc0000060
				SC_P_ADC_IN6_DMA_ADC1_IN2               0xc0000060
				SC_P_ADC_IN7_DMA_ADC1_IN3		0xc0000060
			>;
		};

		pinctrl_gpio0: gpio0 {
			fsl,pins = <
				SC_P_GPT0_CAPTURE_LSIO_GPIO0_IO15		0x00000060 /* CELL_DSR_MPU */
				SC_P_GPT0_CLK_LSIO_GPIO0_IO14               0x00000060 /* CELL_ON */
				SC_P_GPT0_COMPARE_LSIO_GPIO0_IO16           0x00000060 /* CELL_RI_MPU */
				SC_P_GPT1_CAPTURE_LSIO_GPIO0_IO18           0x00000060 /* CELL_DTR_MPU */
				SC_P_GPT1_CLK_LSIO_GPIO0_IO17               0x00000060 /* CELL_DCD_MPU */
				SC_P_GPT1_COMPARE_LSIO_GPIO0_IO19           0x00000060 /* FAN_PWM */
				SC_P_M40_GPIO0_00_LSIO_GPIO0_IO08           0x00000060 /* CELL_PWR_ON_3V3 */
//				SC_P_M40_GPIO0_01_LSIO_GPIO0_IO09           0x00000020 /* CELL_RESET_3V3 */
//				SC_P_SCU_GPIO0_00_LSIO_GPIO0_IO28           0x00000063 /* PMIC1_PGOOD */
//				SC_P_SCU_GPIO0_01_LSIO_GPIO0_IO29           0x00000063 /* PMIC2_PGOOD */
//				SC_P_SCU_GPIO0_02_LSIO_GPIO0_IO30           0x00000063 /* BOOT_LED */
			>;
        	};

	        pinctrl_gpio1: gpio1 {
			fsl,pins = <
                		SC_P_SCU_GPIO0_04_LSIO_GPIO1_IO00           0x00000063 /* PMIC_ON */
			>;
        	};

		pinctrl_led0: led0grp{
			fsl,pins = <
				SC_P_SPDIF0_RX_LSIO_GPIO2_IO14              0x00000060
			>;
		};

		pinctrl_led1: led1grp{
			fsl,pins = <
				SC_P_SPDIF0_TX_LSIO_GPIO2_IO15              0x00000060
			>;
		};

//	        pinctrl_v50: v50grp{
//			fsl,pins = <
//				SC_P_ESAI0_SCKR_LSIO_GPIO2_IO24             0x00000060
//			>;
//		};
//
//	        pinctrl_v38: v38grp{
//			fsl,pins = <
//				SC_P_ESAI0_SCKT_LSIO_GPIO2_IO25             0x00000060
//			>;
//		};
//
//	        pinctrl_v33: v33grp{
//			fsl,pins = <
//				SC_P_ESAI0_TX0_LSIO_GPIO2_IO26              0x00000060
//			>;
//		};
//
	        pinctrl_gpio2: gpio2 {
			fsl,pins = <
	                	SC_P_SPDIF0_RX_LSIO_GPIO2_IO14              0x00000040
			        SC_P_SPDIF0_TX_LSIO_GPIO2_IO15              0x00000040
        	        	SC_P_SPI3_CS0_LSIO_GPIO2_IO20               0x00000040
	                	SC_P_SPI3_SCK_LSIO_GPIO2_IO17               0x00000040
		                SC_P_SPI3_SDI_LSIO_GPIO2_IO19               0x00000040
        		        SC_P_SPI3_SDO_LSIO_GPIO2_IO18               0x00000040
	                	SC_P_ESAI0_FSR_LSIO_GPIO2_IO22              0x00000060
		                SC_P_ESAI0_FST_LSIO_GPIO2_IO23              0x00000060
//        		        SC_P_ESAI0_SCKR_LSIO_GPIO2_IO24             0x00000060
//	                	SC_P_ESAI0_SCKT_LSIO_GPIO2_IO25             0x00000060
//		                SC_P_ESAI0_TX0_LSIO_GPIO2_IO26              0x00000060
        		        SC_P_ESAI0_TX1_LSIO_GPIO2_IO27              0x00000060
	                	SC_P_ESAI0_TX2_RX3_LSIO_GPIO2_IO28          0x00000060
		                SC_P_ESAI0_TX3_RX2_LSIO_GPIO2_IO29          0x00000060
        		        SC_P_ESAI0_TX5_RX0_LSIO_GPIO2_IO31          0x00000060
	                	SC_P_ESAI1_FSR_LSIO_GPIO2_IO04              0x00000060
		                SC_P_ESAI1_FST_LSIO_GPIO2_IO05              0x00000060
        		        SC_P_ESAI1_SCKR_LSIO_GPIO2_IO06             0x00000060
	                	SC_P_ESAI1_SCKT_LSIO_GPIO2_IO07             0x00000060
		                SC_P_ESAI1_TX0_LSIO_GPIO2_IO08              0x00000060
        		        SC_P_ESAI1_TX1_LSIO_GPIO2_IO09              0x00000060
	                	SC_P_ESAI1_TX2_RX3_LSIO_GPIO2_IO10          0x00000060
			>;
        	};

	        pinctrl_gpio3: gpio3 {
        	    fsl,pins = <
                	SC_P_MCLK_OUT0_LSIO_GPIO3_IO01              0x00000060
	            >;
        	};

	        pinctrl_gpio4: gpio4 {
        	    fsl,pins = <
                	SC_P_ENET1_MDC_LSIO_GPIO4_IO18              0x00000060
	                SC_P_ENET1_MDIO_LSIO_GPIO4_IO17             0x00000060
        	    >;
	        };

		pinctrl_gnss_reset: gnssresetgrp {
		    fsl,pins = <
   			    SC_P_ESAI0_FST_LSIO_GPIO2_IO23              0x00000060
		    >;
 		};

		pinctrl_gnss_dir: gnssdirgrp {
		    fsl,pins = <
			    SC_P_ESAI0_FSR_LSIO_GPIO2_IO22              0x00000060
		    >;
		};

	        pinctrl_flexcan1: flexcan1grp {
        	    fsl,pins = <
                	SC_P_FLEXCAN0_RX_DMA_FLEXCAN0_RX            0x00000021
	                SC_P_FLEXCAN0_TX_DMA_FLEXCAN0_TX            0x00000021
        	        SC_P_FLEXCAN2_TX_LSIO_GPIO4_IO02            0x00000040
	            >;
        	};

	        pinctrl_flexcan2: flexcan2grp {
        	    fsl,pins = <
                	SC_P_FLEXCAN1_RX_DMA_FLEXCAN1_RX            0x00000021
	                SC_P_FLEXCAN1_TX_DMA_FLEXCAN1_TX            0x00000021
        	        SC_P_FLEXCAN2_RX_LSIO_GPIO4_IO01            0x00000040
	            >;
        	};

	        pinctrl_i2c0: i2c0grp {
        	    fsl,pins = <
                	SC_P_HDMI_TX0_TS_SCL_DMA_I2C0_SCL           0x06000021
	                SC_P_HDMI_TX0_TS_SDA_DMA_I2C0_SDA           0x06000021
        	    >;
	        };

        	pinctrl_i2c4: i2c4grp {
	            fsl,pins = <
        	        SC_P_ENET0_MDC_DMA_I2C4_SCL                 0x06000020
                	SC_P_ENET0_MDIO_DMA_I2C4_SDA                0x06000020
	            >;
        	};

	        pinctrl_lpuart0: lpuart0grp {
        	    fsl,pins = <
                	SC_P_UART0_RX_DMA_UART0_RX                  0x06000020
	                SC_P_UART0_TX_DMA_UART0_TX                  0x06000020
        	    >;
	        };

		pinctrl_typec: typecgrp {
        	    fsl,pins = <
	                SC_P_QSPI1A_SS0_B_LSIO_GPIO4_IO19	0x60
        	        SC_P_USB_SS3_TC3_LSIO_GPIO4_IO06	0x60
                	SC_P_QSPI1A_DATA0_LSIO_GPIO4_IO26	0x00000021
	            >;
		};

	        pinctrl_usbotg2: usbotg2 {
        	    fsl,pins = <
                	SC_P_USB_SS3_TC1_CONN_USB_OTG2_PWR
	            >;
        	};

	        pinctrl_lpuart1: lpuart1grp {
        	    fsl,pins = <
                	SC_P_UART1_CTS_B_DMA_UART1_CTS_B            0x06000020
	                SC_P_UART1_RTS_B_DMA_UART1_RTS_B            0x06000020
        	        SC_P_UART1_RX_DMA_UART1_RX                  0x06000020
                	SC_P_UART1_TX_DMA_UART1_TX                  0x06000020
	            >;
        	};

	        pinctrl_bt_uart: bt_uartgrp {
        	    fsl,pins = <
                	SC_P_ENET0_RGMII_RXD3_DMA_UART3_RX          0x00000020
	                SC_P_ENET0_RGMII_TXD2_DMA_UART3_TX          0x00000020
        	        SC_P_ENET0_RGMII_TXD3_DMA_UART3_RTS_B       0x06000020
                	SC_P_ENET0_RGMII_RXC_DMA_UART3_CTS_B        0x06000020
	            >;
        	};

	        pinctrl_usdhc1: usdhc1grp {
        	    fsl,pins = <
                	SC_P_EMMC0_CLK_CONN_EMMC0_CLK               0x06000041
	                SC_P_EMMC0_CMD_CONN_EMMC0_CMD               0x00000021
        	        SC_P_EMMC0_DATA0_CONN_EMMC0_DATA0           0x00000021
                	SC_P_EMMC0_DATA1_CONN_EMMC0_DATA1           0x00000021
	                SC_P_EMMC0_DATA2_CONN_EMMC0_DATA2           0x00000021
        	        SC_P_EMMC0_DATA3_CONN_EMMC0_DATA3           0x00000021
                	SC_P_EMMC0_DATA4_CONN_EMMC0_DATA4           0x00000021
	                SC_P_EMMC0_DATA5_CONN_EMMC0_DATA5           0x00000021
        	        SC_P_EMMC0_DATA6_CONN_EMMC0_DATA6           0x00000021
                	SC_P_EMMC0_DATA7_CONN_EMMC0_DATA7           0x00000021
	                SC_P_EMMC0_RESET_B_CONN_EMMC0_RESET_B       0x00000021
        	        SC_P_EMMC0_STROBE_CONN_EMMC0_STROBE         0x00000041
	            >;	
        	};

	        pinctrl_usdhc2: usdhc2grp {
        	    fsl,pins = <
                	SC_P_USDHC1_CLK_CONN_USDHC1_CLK             0x06000041
	                SC_P_USDHC1_CMD_CONN_USDHC1_CMD             0x00000021
        	        SC_P_USDHC1_DATA0_CONN_USDHC1_DATA0         0x00000021
                	SC_P_USDHC1_DATA1_CONN_USDHC1_DATA1         0x00000021
	                SC_P_USDHC1_DATA2_CONN_USDHC1_DATA2         0x00000021
        	        SC_P_USDHC1_DATA3_CONN_USDHC1_DATA3         0x00000021
                	SC_P_USDHC1_VSELECT_CONN_USDHC1_VSELECT     0x00000021
	            >;
        	};

	        pinctrl_usdhc2_gpio: usdhc2gpiogrp {
        	    fsl,pins = <
                	SC_P_USDHC1_DATA6_LSIO_GPIO5_IO21           0x00000021
	                SC_P_USDHC1_DATA7_LSIO_GPIO5_IO22           0x00000021
        	        SC_P_USDHC1_RESET_B_LSIO_GPIO4_IO07         0x00000021
	            >;
        	};

	        pinctrl_usdhc3: usdhc3grp {
        	    fsl,pins = <
                	SC_P_USDHC2_CLK_CONN_USDHC2_CLK             0x00000040
	                SC_P_USDHC2_CMD_CONN_USDHC2_CMD             0x00000040
        	        SC_P_USDHC2_DATA0_CONN_USDHC2_DATA0         0x00000020
                	SC_P_USDHC2_DATA1_CONN_USDHC2_DATA1         0x00000020
	                SC_P_USDHC2_DATA2_CONN_USDHC2_DATA2         0x00000020
        	        SC_P_USDHC2_DATA3_CONN_USDHC2_DATA3         0x00000020
	            >;
        	};
	};
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&gpio2 {
	status = "okay";
};

&gpio4 {
	status = "okay";
};

&gpio5 {
	status = "okay";
};

&usbotg1 {
         status = "okay";
};

&usbotg3 {
         vbus-supply = <&reg_usb_otg2_vbus>;
         srp-disable;
         hnp-disable;
         adp-disable;
         disable-over-current;
         status = "okay";
};

&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1>;
	pinctrl-2 = <&pinctrl_usdhc1>;
	bus-width = <8>;
	non-removable;
	status = "okay";
};

&usdhc2 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-1 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	pinctrl-2 = <&pinctrl_usdhc2>, <&pinctrl_usdhc2_gpio>;
	bus-width = <4>;
	cd-gpios = <&gpio5 22 GPIO_ACTIVE_LOW>;
	wp-gpios = <&gpio5 21 GPIO_ACTIVE_HIGH>;
	vmmc-supply = <&reg_usdhc2_vmmc>;
	status = "okay";
};

&i2c0 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c0>;
	status = "okay";

//	/* U-Blox NEO-M8L GNSS (Does the NEO-M8 driver work for this?) */
//	gnss@42 {
//		compatible = "u-blox,neo-m8", "fsl,imx35-gpio";
//		reg = <0x42>; // reg = DDC (i2c) slave address
//		vcc-supply = <&pinctrl_v33>;
//
//		gpio-controller;
//		#gpio-cells = <2>;
//		pinctrl-0 = <&pinctrl_gnss_reset>;
//		pinctrl-1 = <&pinctrl_gnss_dir>;
//		reset-gpios = <&pinctrl_gnss_reset>;
//	};
};

&i2c1 {
	status = "disabled";
};

&i2c2 {
	status = "disabled";
};

&i2c3 {
	status = "disabled";
};

&i2c4 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <100000>;
	pinctrl-names = "default", "gpio";
	pinctrl-0 = <&pinctrl_i2c4>;
	status = "okay";
	
	/* The lsm6dsl uses the lsm6dsx driver */
//	lsm6dsl@6b{
//		compatible = "st,lsm6dsl";
//		reg = <0x6B>;
//		interrupt-parent = <&gpio4>;
//		interrupts = <17 IRQ_TYPE_LEVEL_HIGH>, <18 IRQ_TYPE_LEVEL_HIGH>;
//	};
};

&lpuart0 { /* console */
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart0>;
	status = "okay";
};

//&lpuart1 { /* cell */
//	pinctrl-names = "default";
//	pinctrl-0 = <&pinctrl_lpuart1>;
//	status = "okay";
//};

//&lpuart3 { /* bt */
//	pinctrl-names = "default";
//	pinctrl-0 = <&pinctrl_bt_uart>;
//	status = "okay";
//};

&tsens {
	tsens-num = <6>;
};

&thermal_zones {
	pmic-thermal0 {
		polling-delay-passive = <250>;
		polling-delay = <2000>;
		thermal-sensors = <&tsens 5>;
		trips {
			pmic_alert0: trip0 {
				temperature = <110000>;
				hysteresis = <2000>;
				type = "passive";
			};
			pmic_crit0: trip1 {
				temperature = <125000>;
				hysteresis = <2000>;
				type = "critical";
			};
		};
		cooling-maps {
			map0 {
				trip = <&pmic_alert0>;
				cooling-device =
				<&A53_0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			};
			map1 {
				trip = <&pmic_alert0>;
				cooling-device =
				<&A72_0 THERMAL_NO_LIMIT THERMAL_NO_LIMIT>;
			};
		};
	};
};

&dpu1 {
	status = "okay";
};

&ldb1_phy {
	status = "disabled";
};

&ldb1 {
	status = "disabled";
};

&ldb2_phy {
	status = "disabled";
};

&ldb2 {
	status = "disabled";
};

//&mipi0_dsi_host {
//	status = "disabled";
//};

//&mipi0_dphy {
//	status = "disabled";
//};

//&mipi1_dsi_host {
//	status = "disabled";
//};

//&mipi1_dphy {
//	status = "disabled";
//};

//&sai5 {
//	status = "okay";
//};

//&sai5_lpcg {
//	status = "okay";
//};

//&spdif1 {
//	status = "okay";
//};

//&spdif1_lpcg {
//	status = "okay";
//};

&irqsteer_hdmi {
        status = "okay";
};

//&hdmi_lpcg_i2c0 {
//        status = "okay";
//};

//&hdmi_lpcg_lis_ipg {
//        status = "okay";
//};

//&hdmi_lpcg_pwm_ipg {
//        status = "okay";
//};

//&hdmi_lpcg_i2s {
//        status = "okay";
//};

//&hdmi_lpcg_gpio_ipg {
//        status = "okay";
//};

//&hdmi_lpcg_msi_hclk {
//        status = "okay";
//};

//&hdmi_lpcg_pxl {
//        status = "okay";
//};
&pd_lvds0 {
	status = "disabled";
};
&pd_lvds1 {
	status = "disable";
};
&pd_hdmi {
	status = "okay";
};
&pd_mipi1 {
	status = "disabled";
};
&pd_isi_ch0 {
	status = "disabled";
};

&dpu1 {
	status = "okay";
};

